[Desktop Entry]
Name=Beat And Match To Pass
Exec=beatmatchtopass
Type=Application
Icon=org.dupot.beatmatchtopass
Categories=Game;ArcadeGame
Keywords=game;arcade;action;
